<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="2.0.0" targetFramework="net40" />
  <package id="knockoutjs" version="2.2.1" targetFramework="net40" />
  <package id="Rx-Core" version="2.1.30214.0" targetFramework="net40" />
  <package id="Rx-Interfaces" version="2.1.30214.0" targetFramework="net40" />
  <package id="RxJS-Aggregates" version="2.0.20921" targetFramework="net40" />
  <package id="RxJS-All" version="2.0.20921" targetFramework="net40" />
  <package id="RxJS-Binding" version="2.0.20921" targetFramework="net40" />
  <package id="RxJS-Bridges-jQuery" version="1.0.10621.2" targetFramework="net40" />
  <package id="RxJS-Coincidence" version="2.0.20921" targetFramework="net40" />
  <package id="RxJS-Experimental" version="2.0.20921" targetFramework="net40" />
  <package id="RxJS-JoinPatterns" version="2.0.20921" targetFramework="net40" />
  <package id="RxJS-Main" version="2.0.20921" targetFramework="net40" />
  <package id="RxJS-Testing" version="2.0.20921" targetFramework="net40" />
  <package id="RxJS-Time" version="2.0.20921" targetFramework="net40" />
  <package id="Rx-Linq" version="2.1.30214.0" targetFramework="net40" />
  <package id="Rx-Main" version="2.1.30214.0" targetFramework="net40" />
  <package id="Rx-PlatformServices" version="2.1.30214.0" targetFramework="net40" />
</packages>